<mat-card>
    <mat-card-header>
      <mat-card-title>Country-State</mat-card-title>
      <mat-card-subtitle>Vestibulum purus quam scelerisque, mollis nonummy metus</mat-card-subtitle>
      <img mat-card-avatar src="./../../assets/images/common/airport.png"  alt="Airport">
      <mat-card-actions>
          <button mat-icon-button class="more-button" aria-label="Refresh">
              <mat-icon>refresh</mat-icon>
            </button>
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
      </mat-card-actions>
    </mat-card-header>
    
    <mat-card-content>
      <div>
        <app-ams-table-country-airport-status></app-ams-table-country-airport-status>
      </div>
      
    </mat-card-content>
  </mat-card>
