.ams-container{
  height: 100%;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 92%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }
  
  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
  }

  .navbar_profile {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /*
    background: linear-gradient(rgba(0,0,0,0) 30%,rgba(0,0,0,0) 30%),linear-gradient(rgba(0,0,0,.25) 0,rgba(0,0,0,0) 40%);
    background-image: url(./../assets/images/common/snav-left-airline-bkg.jpg);
    */
    background-repeat: no-repeat;
    background-size: 100% 40px,100% 10px;
    background-attachment: local,scroll;
}

  .s_profile{
    flex-direction: column; 
    box-sizing: border-box; 
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    /*background-color: #1e2129!important;
    background-image: linear-gradient( rgba(63, 81, 181, 1), rgba(236, 238, 248, 0.6) ), url(./../assets/images/common/snav-left-airline-bkg.jpg);
    */
    background-size: cover;
    color: #fff!important;
    align-items: center;
    justify-content: flex-start;
  }
  .username{
    font-size: 16px;
    font-weight: 400;
  }

  .email{
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px!important;
    color: rgba(255,255,255,.5)!important;
  }
  .avatar-container{
    display: block;
    position: relative;
    top: auto;
    padding: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: auto;
    /*background-color: #2d323e!important;*/
    color: #fff!important;
  }

  .avatar-container-wide {
    position: absolute;
    top: 64px;
    border-radius: 50%;
    padding: 8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }

  .avatar-tall {
    width: 40px;
    height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 0 8px 0 0;
}
.avatar-wide {
  width: 128px;
  height:128px;
  min-width: 128px;
  max-width: 128px; 
  margin: 0;
}
.avatar {
  color: rgba(0,0,0,.87);
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.avatar img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}
