
<div class="ams-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">

  <!-- TOP Global Navigation -->
  <app-ams-nav-toolbar (snavLeftTogggle)="snavLeftToggle()" (snavRightogggle)="snavRightToggle()">
  </app-ams-nav-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <!-- LEFT Sidebar -->
    <mat-sidenav 
      #snavl 
      [mode]="mobileQuery.matches ? 'over' : 'side'" 
      opened="true" 
      [style.width.em]="snavLeftWidth"
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56" (mouseenter)="increase()" (mouseleave)="decrease()">

      <!-- Airline Profile snav-left-airline 
      <div class="navbar_profile">
        <div class="s_profile" fxlayout="column" [style.height.px]="snavLeftWidth > 6?136:64" [style.min-height.px]="snavLeftWidth > 6?136:64"
          [style.max-height.px]="snavLeftWidth > 6?136:64" [style.padding-top.px]="snavLeftWidth > 6?24:12"
          [style.padding-bottom.px]="snavLeftWidth > 6?64:0">
          <div *ngIf="snavLeftWidth > 6" class="username">AMS Sysytem</div>
          <div *ngIf="snavLeftWidth > 6" class="email">To fly to serve</div>
          <div [ngClass]="snavLeftWidth > 6?'avatar-container-wide':'avatar-container'">
            <img class="avatar" [ngClass]="snavLeftWidth > 6?'avatar-wide':'avatar-tall'" src="./../assets/images/airline/logo_1.png">
          </div>

        </div>
      </div>
      -->
      <app-ams-lnav-profile-info></app-ams-lnav-profile-info>
      <!--Left Navigation -->
      <mat-nav-list [style.padding-top.px]="snavLeftWidth > 6?48:0">

        <!-- LOGIN / User Profile Link -->
        <app-ams-lnav-item-profile (click)="onProfileClick()"></app-ams-lnav-item-profile>
        <!-- LNAV List  -->
        <app-ams-lnav-list-items></app-ams-lnav-list-items>
        
      </mat-nav-list>
    </mat-sidenav>
    <!-- LEFT Sidebar -->
    <mat-sidenav 
      #snavr 
      mode="over" 
      position="end" 
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56">End content</mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!--
         <p *ngFor="let content of fillerContent">{{content}}</p>
      
      -->
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>