<h2 mat-dialog-title>AMS Login</h2>
<mat-dialog-content >
    <form class="lcb-form" [formGroup]="form">
      <mat-form-field class="lcb-full-width">
        <input matInput 
          placeholder="Username" 
          value="" type="email"
          formControlName="email" >
      </mat-form-field>
    
      <mat-form-field class="lcb-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>
    </form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button  mat-fab color="primary" [mat-dialog-close]="false" aria-label="AMS Login" (click)="onLoginClick()">
      <mat-icon >flight_land</mat-icon>
  </button>
</mat-dialog-actions>