<mat-toolbar color="primary" class="ams_toolbar_top">
  <button mat-icon-button (click)="handleSNavLeftToggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="toolbar_app_name">AMS</h1>
  <button mat-icon-button (click)="handleSNavRightToggle()"><mat-icon>menu</mat-icon></button>
</mat-toolbar>
