
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.ams_toolbar_top {
  font-family: 'Open Sans', sans-serif!Important;
  font-size: 13px;
  line-height: 1.42857143;
  z-index: 16;
  height: 48px;
  min-height: 48px;
}

.toolbar_app_name {
  text-align: center;
  font-family: 'Open Sans', sans-serif!Important;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  flex: 1 1 auto;
}