
  .lnav_profile_info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /*
    background: linear-gradient(rgba(0,0,0,0) 30%,rgba(0,0,0,0) 30%),linear-gradient(rgba(0,0,0,.25) 0,rgba(0,0,0,0) 40%);
    background-image: url(./../assets/images/common/snav-left-airline-bkg.jpg);
    */
    background-repeat: no-repeat;
    background-size: 100% 40px,100% 10px;
    background-attachment: local,scroll;
}

  .lnav_profile_info_content{
    flex-direction: column; 
    box-sizing: border-box; 
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    //background-color: #1e2129!important;
    background-image: linear-gradient( rgba(63, 81, 181, 1), rgba(236, 238, 248, 0.6) ), url(./../../../../../assets/images/common/snav-left-airline-bkg.jpg);
    background-size: cover;
    color: #fff!important;
    align-items: center;
    justify-content: flex-start;
  }

  .lnav_profile_info .avatar-container-wide {
    position: absolute;
    top: 64px;
    border-radius: 50%;
    padding: 8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }

  
.lnav_profile_info .avatar-tall {
    width: 40px;
    height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 0 8px 0 0;
}
.lnav_profile_info .avatar-wide {
  width: 128px;
  height:128px;
  min-width: 128px;
  max-width: 128px; 
  margin: 0;
}
.lnav_profile_info .avatar {
  color: rgba(0,0,0,.87);
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.lnav_profile_info .avatar img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}