

.mat-card{
    padding: 0px 0px !important;
    margin: 5px 10px 5px 0px !important;
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    background: #fff;
    height: 100%;
    .mat-card-header{

        .mat-card-title{
            line-height: 100% !important;
            font-size: 17px !important;
            font-weight: 500 !important;
            margin-bottom: 0px !important;
        }
        .mat-card-subtitle{
            display: block;
            margin-top: 2px !important;
            margin-bottom: 2px !important;
            color: #AEAEAE;
            line-height: 160% !important;
        }
        .mat-card-avatar {
            height: 30px !important;
            width: 30px !important;
        }

        .mat-card-actions {
            margin: 0px;
            padding: 0px; 
            position: absolute;
            right: 5px;
            z-index: 2;
            top: 5px;
            .mat-icon-button{
                line-height: 20px;
                height: 20px;
                width: 20px;
                color: #AEAEB6;
                margin-left: 5px;
                .mat-icon, i{
                    line-height: 20px;
                }
                
            }
        }

        > .mat-card-content {
            overflow-y: auto;
          }
    }

    .mat-card-actions{
        margin-bottom: -8px !important;
        display: flex;
        flex-direction: row-reverse;
    }

    .mat-card-content {
        height: 95%;
        display: block;
    }
}

.nowrap{
    white-space: nowrap;
    overflow: auto;
}

.card-chart{
    .mat-card-content {
        margin: -20px -10px -14px -12px !important;
        overflow: hidden;
       
      }

}


.chart-edge {
    margin: 2px -12px 0px -10px !important;
    overflow: hidden;
    height: 100%;
    .flot-chart {
        padding: 0px; 
        position: relative;
        bottom: -15px;
        height: 100%;
      }
  }
  
  
  [class*=flot-chart] {
    width: 100%;
    
    display: block;
  }

  .mat-card{
    .list-group{
        margin-bottom: 0;
        padding-left: 0;
        *, :active, :focus, :hover {
            outline: 0 !important;
            -webkit-tap-highlight-color: transparent!important;
        }

        .list-group-item {
            border: 0;
            margin: 0;
            padding: 5px 8px;
            position: relative;
            display: flex;
            background-color: transparent;

            .lgi-icon {
                text-align: center;
                padding-right: 5px;
                border-radius: 50%;
                background-color: #F3F3F7;

                .lgi-img, .material-icons {
                    font-size: 30px;
                    padding: 2px;
                }

                .lgi-img img{
                    vertical-align: middle;
                    width: 40px;
                    height: 40px;
                    border: 0;
                }
                
                *, :active, :focus, :hover {
                    outline: 0!important;
                    -webkit-tap-highlight-color: transparent!important;
                }
            }

            .lgi-body {
                display: table-cell;
                vertical-align: top;
                overflow: hidden;
                padding-left: 5px;
                width: 100%;

                .lgi-heading, .lgi-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #000;
                    /*margin-bottom: 4px;*/

                    .small, small {
                        font-size: 92%;
                    }
                }
            }
        }

        .list-group-item:first-child {
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
        }

        a.list-group-item, button.list-group-item {
            color: #555;
            text-decoration: none;
        }
    }
  }
  
  .mini-charts-item {
    position: relative;
    /*margin-bottom: 30px;*/

    :hover .count {
        color: #fff!important;
    }
    *, :active, :focus, :hover {
        outline: 0 !important;
        -webkit-tap-highlight-color: transparent !important;
    }
    .clearfix{
        position: relative;
        z-index: 1;
    
        .chart {
            padding: 9px 10px 0;
            float: left;
        }

        .count {
            overflow: hidden;
            color: rgba(255,255,255,.9);
            padding: 16px 12px;

            >h2, >small {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            >h2 {
                margin: 0;
                line-height: 100%;
                font-size: 22px;
                font-weight: 400;
                color: #fff;
            }

            >small {
                margin-bottom: 2px;
                display: block;
            }
            .small, small {
                font-size: 92%;
            }
        }
    }
}

.mini-charts-item:before {
    -webkit-transition: width;
    -o-transition: width;
    transition: width;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 105px;
    height: 100%;
    background: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
}
.mini-charts-item:before {
    content: "";
    left: 0;
}
.mini-charts-item:hover:before{width:100%}
.clearfix:before{
    content: " ";
    display: table;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, a, button, i, input {
    -webkit-font-smoothing: antialiased;
}