.grid-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
  
.block-header {
  padding: 0 22px;
  margin-bottom: 25px;
  position: relative;
  h2 {
    color: #7B7A86;
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.mat-grid-tile{
  .mat-figure{
    display: block !important;
  }
}

