$mat-header-row-height: 28px;
$mat-row-height: 20px;
$mat-row-horizontal-padding: 4px;
$mat-paginator-height: 40px;

.mat-paginator-container {
  min-height: $mat-paginator-height !important;
}

.mat-paginator-icon {
  width: $mat-paginator-height / 2 !important;
}


mat-header-row {
    min-height: $mat-header-row-height !important;
}

mat-row, mat-footer-row {
    min-height: $mat-row-height !important;
}


// Note: we use `first-of-type`/`last-of-type` here in order to prevent extra
// elements like ripples or badges from throwing off the layout (see #11165).
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: $mat-row-horizontal-padding !important;
  
    [dir='rtl'] & {
      padding-left: 0;
      padding-right: $mat-row-horizontal-padding !important;
    }
  }
  
  mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: $mat-row-horizontal-padding !important;
  
    [dir='rtl'] & {
      padding-right: 0;
      padding-left: $mat-row-horizontal-padding !important;
    }
  }
  
  mat-cell, mat-header-cell, mat-footer-cell {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
  }

  tr.mat-header-row {
    height: $mat-header-row-height !important;
  }
  
  tr.mat-row, tr.mat-footer-row {
    height: $mat-row-height !important;
    .selected{
        background-color: aliceblue !important;
    }
  }

  // Note: we use `first-of-type`/`last-of-type` here in order to prevent extra
// elements like ripples or badges from throwing off the layout (see #11165).
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: $mat-row-horizontal-padding !important;
  
    [dir='rtl'] & {
      padding-left: 0;
      padding-right: $mat-row-horizontal-padding !important;
    }
  }
  
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: $mat-row-horizontal-padding !important;
  
    [dir='rtl'] & {
      padding-right: 0;
      padding-left: $mat-row-horizontal-padding !important;
    }
  }

.trgray { background-color: #EAEAEF;}
.trselected { background-color:lightblue;}
.green{color: green !important; }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 12px;
    width: 100%;
  }

  
 

  