<div class="grid-container">
    <div class="block-header">
        <h2>Airports</h2>
    </div>

    <!-- GRID -->
    <mat-grid-list cols="12" rowHeight="100px">

      <!-- Country List -->
      <mat-grid-tile [colspan]="4" [rowspan]="3">
          <app-ams-card-country-ap-stat></app-ams-card-country-ap-stat>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          Airports List
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-card>

                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
          </mat-grid-tile>

    </mat-grid-list>

</div>
