/* You can add global styles to this file, and also import other style files*/
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

 

/*
@include mat-core();

$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-light-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
*/

/**
Default $config has these values:
$font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(16px, 1.125, 400)


*/

$config: mat-typography-config(
  $font-family: '"Open Sans", sans-serif',
  $body-2:        mat-typography-level(12px, 22px, 500),
  $body-1:        mat-typography-level(12px, 18px, 400),
  $subheading-2:  mat-typography-level(13px, 25px, 500),
  $subheading-1:  mat-typography-level(12px, 21px, 400),
  $headline:      mat-typography-level(17px, 25px, 300)
);

@include mat-core($config);




body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

html, body { height: 100%; }

/****************************** Dialog **************************/
.cdk-overlay-pane{
  padding: 20px 0;
}

.bgm-darkblue {
  background-color: #002D5B !important;
}
.bgm-lightblue {
  background-color: #197CB6 !important;
}
.bgm-red {
  background-color: #C81922 !important;
}

.bgm-bluegray {
  background-color: #607D8B!important;
}

.bgm-yellow {
  background-color: #FFEB3B!important;
}

.bgm-green {
  background-color: #4CAF50!important;
}


@import './assets/scss/ams';


