<!-- mat-elevation-z8 class -->
<div class="table-container">
  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- ISO Column -->
    <ng-container matColumnDef="countryIso2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ISO</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{green:row.checked}">{{row.countryIso2}}</td>
    </ng-container>

    <!-- Country Name Column -->
    <ng-container matColumnDef="countryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let row" class="nowrap">{{row.countryName | truncate:20}}</td>
    </ng-container>
     <!-- State Name Column -->
     <ng-container matColumnDef="stateName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let row">{{row.stateName}}</td>
      </ng-container>
      <!-- 'airportsCount', 'airportsCountAmsStatus0', 'checked' -->
      <ng-container matColumnDef="airportsCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">AP</th>
        <td mat-cell *matCellDef="let row" style="text-align: right;">{{row.airportsCount}}</td>
      </ng-container>
      <ng-container matColumnDef="airportsCountAmsStatus0">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Check</th>
        <td mat-cell *matCellDef="let row" style="text-align: right;width: 70px;">{{row.airportsCountAmsStatus0}}</td>
      </ng-container>
      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">OK</th>
        <td mat-cell *matCellDef="let row" style="text-align: center;width: 30px;">{{row.checked | bool}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
    <tr mat-row *matRowDef="let row;let even = even; columns: displayedColumns;" 
      (click)="onRowClicked(row)" 
      [ngClass]="{trselected: isRowSelected(row), trgray: even, green:row.checked}"></tr>
  </table>

  <mat-paginator  
    [length]="resultsLength"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5]"
    [hidePageSize]="hidePageSize">
  </mat-paginator>
</div>